.section-primary-container {
  display: flex;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  color: #eae8e4;
  height: 480;
  background-color: #2d2d2d;
}

h1 {
  font-size: 3.75rem;
}

.section-primary-content {
  max-width: 700px;
}

.section-primary-content-dangerously {
  font-size: 24px;
  font-weight: 100;
}

.section-primary-scroll-svg-container {
  text-align: center;
}
