.section-container {
  justify-content: space-between;
  padding-top: 24px;
  padding-left: 56px;
  padding-right: 56px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  color: #2d2d2d;
  margin-top: 40px;
  margin-bottom: 40px;
  grid-auto-rows: minmax(100px, auto);
}

.title-content-container {
  margin-bottom: 16px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

h2 {
  font-size: 1.5rem;
}

.content-dangerously {
  font-size: 16px;
  font-weight: 100;
}

.content-dangerously p {
  margin: 0;
}

.cards-carousel-container {
  display: flex;
  gap: 24px;
}

.section-image-column {
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.cards-carousel-container img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
}

.section-images-column {
  display: grid;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  gap: 16px;
  padding-bottom: 10px;
}

.section-images-column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.app-links-container {
  max-width: 200px;
  display: flex;
  flex-flow: column;
  gap: 8px;
}

.app-links-container img {
  max-width: 100%;
  scale: crop;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
}

.categories-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.categories-item {
  border: 1px;
  border-radius: 32px;
  border-color: #7d26c9;
  color: #7d26c9;
  padding: 8px 40px;
  border-style: solid;
  font-weight: 600;
  line-height: 30px;
  font-size: 20px;
  background-color: #dfdcd5;
}

.cards-container {
  display: flex;
  gap: 40px;
}
