.section-container {
  display: flex;
  justify-content: space-between;
  padding-left: 56px;
  padding-right: 56px;
  border-bottom-right-radius: 32px;
  border-bottom-left-radius: 32px;
  color: #2d2d2d;
}

h2 {
  font-size: 1.75rem;
}

.content {
  max-width: 700px;
}

.content-dangerously {
  font-size: 16px;
  font-weight: 100;
}
