.footer-container {
  background-color: #2d2d2d;
  padding: 40px 120px;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 40px;
}

.footer-container .social {
  display: flex;
  gap: 40px;
}

.footer-container .social img {
  width: 32px;
  height: 32px;
}

.footer-container .infos {
  text-align: center;
}

.footer-container .infos .title {
  font-size: 20px;
  font-weight: 600;
}

.footer-container .infos .categories {
  display: flex;
  gap: 40px;
  margin-top: 8px;
  font-size: 20px;
}
